
.main-inicio {
    height: 90vh;
    font-family: $fontTruculenta;
    background: $clrPrincipal;
    background-image: url("../img/tanques.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;

    .title {
        font-family: $fontBecome;
        color: $clrAzul;
        text-align: center;
        justify-content: center;
        margin: 0;
        padding-top: 2.5vh;
        width: 40%;


        @include mediaquerie2 {
            width: 100%;
        }

        h2,
        p {
            margin: 0;
            font-size: 5rem;
            font-weight: normal;
            text-shadow:
                -0.05rem -0.05rem 0 $clrPrincipal,
                0.05rem -0.05rem 0 $clrPrincipal,
                -0.05rem 0.05rem 0 $clrPrincipal,
                0.05rem 0.05rem 0 $clrPrincipal;

            @include mediaquerie5 {
                font-size: 5rem;
            }
        }

        h2 {
            font-weight: 700;
        }

        p {
            font-weight: 300;
            transform: rotate(10deg);
        }

        .p-invertido {
            transform: rotate(190deg);
        }
    }


.desde-texto {
    color: $clrRojo;
    font-family: $fontTruculenta;
    font-weight: 900;
    font-size: 2rem;
    width: 40%;
    padding-bottom: 5vh;
    text-shadow:
        -0.05rem -0.05rem 0 $clrPrincipal,
        0.05rem -0.05rem 0 $clrPrincipal,
        -0.05rem 0.05rem 0 $clrPrincipal,
        0.05rem 0.05rem 0 $clrPrincipal;

    @include mediaquerie2 {
        width: 100%;
    }

    @include mediaquerie3 {
        font-size: 1.5rem;
        padding-bottom: 2vh;
    }

    p {
        margin: 0;
        text-align: center;
        line-height: 2rem;
        letter-spacing: 1.5px;
    }

    
}
.venta-texto {
    color: $clrOliva;
    font-family: $fontTruculenta;
    font-weight: 500;
    font-size: 1rem;
    width: 40%;
    text-align: center;
    letter-spacing: 1.5px;

    // text-shadow:
    //     -0.01rem -0.01rem 0 $clrAzul,
    //     0.01rem -0.01rem 0 $clrAzul,
    //     -0.01rem 0.01rem 0 $clrAzul,
    //     0.01rem 0.01rem 0 $clrAzul;

    @include mediaquerie2 {
        width: 100%;
    }
    p {
        display: inline;
        background: $clrAzul;
        padding: 0 5px;
    }
}

}