.main-envases {
    font-family: $fontTruculenta;
    font-weight: 500;
    background-color: $clrPrincipal;
    color: $clrAzul;
    font-size: 1.2rem;

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-weight: 700;
    }

    ol>li {
        list-style: decimal;
        font-size: 1.2rem;
    }

    ul>li {
        list-style: disc;
    }

    .maridajes {

        .maridaje-oliva,
        .maridaje-uva,
        .maridaje-girasol {
            margin-left: 20px;
            text-align: left;

            @include mediaquerie6 {
                margin-left: 5px;
            }

            h4 {
                margin-left: 10px;

                @include mediaquerie6 {
                    margin-left: 5px;
                }
            }
        }

        .carousel {
            width: 500px;
            margin: 0 auto;

            @include mediaquerie6 {
                width: 350px;
            }

            .carousel-item {
                .carousel-caption {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 20px;
                    color: $clrAzul;
                    text-shadow:
                        -1px -1px 0 $clrCrema,
                        1px -1px 0 $clrCrema,
                        -1px 1px 0 $clrCrema,
                        1px 1px 0 $clrCrema;

                    @include mediaquerie6 {
                        font-size: 16px;
                        line-height: 16px;

                    }
                }

            }
        }
    }

    .envases {
        padding-bottom: 5px;

        .img-lista {
            display: flex; 
            justify-content:center;

            .img-envase {
                width: 250px;
                border: 5px solid $clrAzul;
            }

            .lista {
                margin: 0;
                padding: 0;
                width: 250px;
                background: $clrAzul;
                color: $clrPrincipal;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                @include mediaquerie6 {
                    font-size: 14px;
                    padding: 20px;
                    align-items: start;
                }

                li{
                    list-style-type: square;
                }
            }
        }
    }
}