.main-productos {
    font-family: $fontTruculenta;
    font-weight: 500;
    background-color: $clrPrincipal;
    padding: 1rem;
    min-width: 90%;

    h1 {
        font-weight: 700;
    }

    .productos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 1rem;

        .producto-item {
            background: $clrSecundario;
            border-radius: 15px;
            padding: 0px;
            text-align: center;
            position: relative;
            overflow: hidden;
            min-width: 320px;
            height: 380px;

            .producto-show {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 5px;

                .imagen-producto {
                    max-width: 5rem;
                }

                .titulo-producto {
                    font-size: 1.8rem;
                    font-weight: 700;
                    text-shadow:
                        -0.5px -0.5px 0 $clrOliva,
                        0.5px -0.5px 0 $clrOliva,
                        -0.5px 0.5px 0 $clrOliva,
                        0.5px 0.5px 0 $clrOliva;
                }

            }

            .producto-overlay {
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: start;
                padding-top: 2rem;
                padding-left: 3.5rem;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                transform: translateY(100%);
                transition: transform 0.5s ease;

                .subtitulo-producto {
                    font-size: 1.2rem;
                    color: $clrRojo;
                    font-weight: 700;
                    text-shadow:
                        -0.5px -0.5px 0 $clrOliva,
                        0.5px -0.5px 0 $clrOliva,
                        -0.5px 0.5px 0 $clrOliva,
                        0.5px 0.5px 0 $clrOliva;
                    margin-bottom: 0;
                }

                .propiedades-producto {
                    font-weight: 500;
                }
            }

            &:hover .producto-overlay {
                transform: translateY(0%);
            }


        }

        .producto-aceite:hover .imagen-producto {
            transform: translateX(-150%);
            transition: transform 0.5s ease;
        }

    }

}