.main-productos {
    font-family: $fontTruculenta;
    font-weight: 500;
    background-color: $clrPrincipal;
    padding: 16px;
    min-width: 90%;

    h1 {
        font-weight: 700;
    }

    .productos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 16px;

        .producto-item {
            background: $clrSecundario;
            border-radius: 15px;
            padding: 0px;
            text-align: center;
            position: relative;
            overflow: hidden;
            width: 320px;
            height: 380px;
            z-index: 1;

            .producto-show {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 5px;

                .titulo-producto, .titulo-subtitulo-producto {
                    font-size: 1.8rem;
                    font-weight: 700;
                    // text-shadow:
                    //     -0.5px -0.5px 0 $clrOliva,
                    //     0.5px -0.5px 0 $clrOliva,
                    //     -0.5px 0.5px 0 $clrOliva,
                    //     0.5px 0.5px 0 $clrOliva;
                    z-index: 10;
                    .subtitulo-producto {
                        display: flex;
                        flex-wrap: wrap;
                    }
                    
                }

                .imagen-producto {
                    max-width: 80px;
                    position: relative;
                    justify-content: end;
                    align-items: end;
                    // z-index: 1;
                }

                

            }

            .producto-overlay {
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: start;
                padding-top: 32px;
                padding-left: 56px;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                transform: translateY(100%);
                transition: transform 0.5s ease;

                .subtitulo-producto {
                    font-size: 1.2rem;
                    color: $clrRojo;
                    font-weight: 700;
                    text-shadow:
                        -0.5px -0.5px 0 $clrOliva,
                        0.5px -0.5px 0 $clrOliva,
                        -0.5px 0.5px 0 $clrOliva,
                        0.5px 0.5px 0 $clrOliva;
                    margin-bottom: 0;
                }

                .propiedades-producto {
                    font-weight: 500;
                }
            }
            &:hover {
                box-shadow: -1px -1px 10px $clrGris,
                    1px -1px 10px $clrGris,
                    -1px 1px 10px $clrGris,
                    1px 1px 10px $clrGris;
                    
            }
            &:hover .producto-overlay {
                transform: translateY(0%);
            }

        }

        .producto-aceite:hover .imagen-producto {
            transform: translateX(-150%);
            transition: transform 0.5s ease;

            &::before {
                content: "";
            }
        }

        .aceite-oliva {
            position: relative;

            &::before {
                content: "1° prensada en frío";
                text-transform: uppercase;
                position: absolute;
                z-index: 10;
                color: $clrOliva;
                background-color: $clrAzul;
                padding: 0 10px;
                rotate: 20deg;
                top: 50%;
                left: 27.5%;
            }

            &:hover::before {
                transform: translateX(-100%) rotate(-60deg);
                transition: transform 0.5s ease;
            }
        }

        .imagen-producto-regional {
            width: 120px;
        }

        .producto-regional:hover .imagen-producto-regional {
            transform: scale(1.3) translateY(-20%);
            transition: transform 0.5s ease;
        }

    }

}

$productos: (
    aceite-oliva: $clrOliva,
    aceite-uva: $clrUva,
    aceite-girasol: $clrGirasol,
    producto-regional: $clrGris
);

@each $producto, $color in $productos {
    .#{$producto} .titulo-producto {
        text-shadow:
            -0.5px -0.5px 0 $color,
            0.5px -0.5px 0 $color,
            -0.5px 0.5px 0 $color,
            0.5px 0.5px 0 $color;
    }
    .imagen-#{$producto}{
        filter: drop-shadow(8px 8px 4px $color);
    }
}