@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@font-face {
  font-family: "Become Choice";
  src: url("./../../../fonts/Become-Choice.ttf") format("truetype");
}
@font-face {
  font-family: "Tongari";
  src: url("./../../../fonts/Tongari-ExtraBold-Italic.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #dfd9c9;
}
body::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
body::-webkit-scrollbar-thumb {
  background: #181B34;
  border-radius: 4px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #3A3A39;
}
body::-webkit-scrollbar-track {
  background: #dfd9c9;
}

a {
  text-decoration: none;
}

header {
  border-bottom: 2.5px solid #181B34;
  background: #dfd9c9;
}
header .navbar {
  font-size: 1.5rem;
  font-family: "Truculenta", sans-serif;
  padding: 0;
  min-width: 95%;
}
header .navbar .img-logo {
  height: 8.5vh;
}
header .navbar .boton-navbar {
  border: solid #181B34;
}
header .navbar .boton-navbar:focus {
  outline: none;
  box-shadow: none;
}
header .navbar .boton-navbar .navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(24, 27, 52, 1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22" /%3E%3C/svg%3E');
}
header .navbar .collapse {
  max-width: 550px;
}
@media (width <= 768px) {
  header .navbar .collapse {
    max-width: none;
  }
}
header .navbar .menu {
  width: 100%;
  justify-content: space-between;
  margin: 0 0 2px 0;
}
header .navbar .menu li {
  text-align: center;
  min-width: 120px;
}
header .navbar .menu li a {
  color: #181B34;
  font-weight: bold;
  line-height: 1.9rem;
}
header .navbar .menu li a:hover {
  color: #181B34;
  font-family: "Become Choice";
  font-style: italic;
  font-size: 1.8rem;
  font-weight: 900;
}
@media (width <= 768px) {
  header .navbar .menu li a {
    text-align: start;
    margin-left: 16px;
  }
}
header .navbar .menu .li-sobrenosotros {
  min-width: 150px;
}
@media (width <= 768px) {
  header .navbar .menu .li-sobrenosotros .active {
    width: 175px;
  }
}
header .navbar .menu .active {
  color: #911714 !important;
  background: #1DBFAF;
  font-family: "Fredoka";
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: -0.5px -0.5px 0 #bdac67, 0.5px -0.5px 0 #bdac67, -0.5px 0.5px 0 #bdac67, 0.5px 0.5px 0 #bdac67, 2px 2px 0 #181B34;
  border: 3px solid #199E8E;
  border-radius: 12.5px;
}
header .navbar .menu .active:hover {
  color: #911714;
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
}
@media (width <= 768px) {
  header .navbar .menu .active {
    width: 135px;
    margin-left: 0;
    display: flex;
    justify-content: center;
  }
}

.body-inicio {
  background-image: url("../img/bg-index.svg");
  background-size: auto;
  background-repeat: repeat;
}
.body-inicio .main-inicio {
  height: 90vh;
  font-family: "Truculenta", sans-serif;
  background-image: url("../img/tanques.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.body-inicio .main-inicio .section-titulo {
  background: rgba(223, 217, 201, 0.5137254902);
  margin: 5%;
  padding: 3.5%;
  gap: 5%;
  max-width: 450px;
  border: 5px solid #181B34;
}
.body-inicio .main-inicio .section-titulo .img-titulo {
  max-width: 100%;
}
.body-inicio .main-inicio .section-titulo .titulo {
  margin: 0;
  padding-top: 2.5%;
  font-size: 22px;
  font-family: "Fredoka";
  font-weight: 800;
  color: #181B34;
  gap: 2px;
}
.body-inicio .main-inicio .section-titulo .titulo .apostrofe-invertido {
  font-size: 20px;
  font-family: "Tongari";
  transform: rotate(180deg) translate(-5px, 20px);
}
.body-inicio .main-inicio .section-titulo .titulo .curi {
  font-size: 20px;
  font-family: "Tongari";
}
.body-inicio .main-inicio .section-titulo .subtitulo {
  display: inline;
  font-family: "Become Choice";
  color: #181B34;
  text-align: center;
  justify-content: center;
  margin: 0;
  padding-top: 2.5%;
  max-width: 50%;
}
.body-inicio .main-inicio .section-titulo .subtitulo h2,
.body-inicio .main-inicio .section-titulo .subtitulo p {
  margin: 0;
  font-size: 24px;
}
.body-inicio .main-inicio .section-titulo .subtitulo h2 {
  font-weight: 700;
  font-size: 26px;
}
.body-inicio .main-inicio .section-titulo .subtitulo p {
  font-weight: 300;
  transform: rotate(10deg) translateY(-5px);
}
.body-inicio .main-inicio .section-titulo .subtitulo .p-invertido {
  transform: rotate(190deg);
}

.main-sobre-nosotros {
  font-family: "Truculenta", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: #181B34;
  background: #dfd9c9;
}
.main-sobre-nosotros h1 {
  font-weight: 700;
}
@media (width <= 768px) {
  .main-sobre-nosotros {
    font-size: 1.2rem;
  }
}
.main-sobre-nosotros .contenedor-sn {
  height: 70vh;
  align-content: center;
  padding: 0 80px;
}
@media (width < 1200px) {
  .main-sobre-nosotros .contenedor-sn {
    height: 60vh;
    padding: 0 32px;
  }
}
@media (width <= 768px) {
  .main-sobre-nosotros .contenedor-sn {
    height: 50vh;
    padding: 0 16px;
  }
}
.main-sobre-nosotros .consumasalud {
  font-family: "Become Choice";
  font-size: 4rem;
  text-shadow: -0.1px -0.1px 0 #dfd9c9, 0.1px -0.1px 0 #dfd9c9, -0.1px 0.1px 0 #dfd9c9, 0.1px 0.1px 0 #dfd9c9;
  background-image: url("../img/bgsn.svg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (width <= 768px) {
  .main-sobre-nosotros .consumasalud {
    order: 1;
  }
}
.main-sobre-nosotros .consumasalud h2,
.main-sobre-nosotros .consumasalud p {
  font-size: 6rem;
  font-weight: normal;
}
@media (width < 1020px) {
  .main-sobre-nosotros .consumasalud h2,
  .main-sobre-nosotros .consumasalud p {
    font-size: 4.8rem;
    font-weight: normal;
  }
}
@media (width <= 800px) {
  .main-sobre-nosotros .consumasalud h2,
  .main-sobre-nosotros .consumasalud p {
    font-size: 4.5rem;
  }
}
.main-sobre-nosotros .consumasalud h2 {
  font-weight: 700;
}
.main-sobre-nosotros .consumasalud p {
  font-weight: 300;
  transform: rotate(10deg);
}
.main-sobre-nosotros .consumasalud .p-invertido {
  transform: rotate(190deg);
}
.main-sobre-nosotros .parrafo-1,
.main-sobre-nosotros .parrafo-2,
.main-sobre-nosotros .parrafo-3 {
  font-size: 1.2rem;
  font-weight: 800;
  text-align: center;
  background-image: url("../img/bgsn.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (width <= 768px) {
  .main-sobre-nosotros .parrafo-1 {
    order: 3;
  }
}
@media (width <= 768px) {
  .main-sobre-nosotros .parrafo-2 {
    order: 5;
  }
}
@media (width <= 768px) {
  .main-sobre-nosotros .parrafo-3 {
    order: 7;
  }
}
.main-sobre-nosotros .img1 {
  position: relative;
  background-image: url("../img/sirviendo1.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (width <= 768px) {
  .main-sobre-nosotros .img1 {
    order: 2;
  }
}
.main-sobre-nosotros .img2 {
  position: relative;
  background-image: url("../img/sirviendo2.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (width <= 768px) {
  .main-sobre-nosotros .img2 {
    order: 4;
  }
}
.main-sobre-nosotros .img3 {
  position: relative;
  background-image: url("../img/hardan-lautaro2.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (width <= 768px) {
  .main-sobre-nosotros .img3 {
    order: 6;
  }
}
.main-sobre-nosotros .img4 {
  position: relative;
  background-image: url("../img/distincion-senadores.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (width <= 768px) {
  .main-sobre-nosotros .img4 {
    order: 8;
  }
}
.main-sobre-nosotros .img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.6);
}
.main-sobre-nosotros .img4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.2);
}

.main-productos {
  font-family: "Truculenta", sans-serif;
  font-weight: 500;
  background-color: #dfd9c9;
  padding: 16px;
  min-width: 90%;
}
.main-productos h1 {
  font-weight: 700;
}
.main-productos .productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 16px;
}
.main-productos .productos .producto-item {
  background: #D9D3C3;
  border-radius: 15px;
  padding: 0px;
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 320px;
  height: 380px;
  z-index: 1;
}
.main-productos .productos .producto-item .producto-show {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.main-productos .productos .producto-item .producto-show .titulo-producto,
.main-productos .productos .producto-item .producto-show .titulo-subtitulo-producto {
  font-size: 1.8rem;
  font-weight: 700;
  z-index: 10;
}
.main-productos .productos .producto-item .producto-show .titulo-producto .subtitulo-producto,
.main-productos .productos .producto-item .producto-show .titulo-subtitulo-producto .subtitulo-producto {
  display: flex;
  flex-wrap: wrap;
  text-shadow: -0.5px -0.5px 0 #bdac67, 0.5px -0.5px 0 #bdac67, -0.5px 0.5px 0 #bdac67, 0.5px 0.5px 0 #bdac67;
}
.main-productos .productos .producto-item .producto-show .imagen-producto {
  max-width: 80px;
  position: relative;
  justify-content: end;
  align-items: end;
}
.main-productos .productos .producto-item .producto-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  padding-top: 32px;
  padding-left: 56px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform 0.5s ease;
}
.main-productos .productos .producto-item .producto-overlay .subtitulo-producto {
  font-size: 1.2rem;
  color: #911714;
  font-weight: 700;
  text-shadow: -0.5px -0.5px 0 #bdac67, 0.5px -0.5px 0 #bdac67, -0.5px 0.5px 0 #bdac67, 0.5px 0.5px 0 #bdac67;
  margin-bottom: 0;
}
.main-productos .productos .producto-item .producto-overlay .propiedades-producto {
  font-weight: 500;
}
.main-productos .productos .producto-item:hover {
  box-shadow: -1px -1px 10px #3A3A39, 1px -1px 10px #3A3A39, -1px 1px 10px #3A3A39, 1px 1px 10px #3A3A39;
}
.main-productos .productos .producto-item:hover .producto-overlay {
  transform: translateY(0%);
}
.main-productos .productos .producto-aceite:hover .imagen-producto {
  transform: translateX(-150%);
  transition: transform 0.5s ease;
}
.main-productos .productos .producto-aceite:hover .imagen-producto::before {
  content: "";
}
.main-productos .productos .aceite-oliva {
  position: relative;
}
.main-productos .productos .aceite-oliva::before {
  content: "1° prensada en frío";
  text-transform: uppercase;
  position: absolute;
  z-index: 10;
  color: #bdac67;
  background-color: #181B34;
  padding: 0 10px;
  rotate: 20deg;
  top: 50%;
  left: 27.5%;
}
.main-productos .productos .aceite-oliva:hover::before {
  transform: translateX(-100%) rotate(-60deg);
  transition: transform 0.5s ease;
}
.main-productos .productos .imagen-producto-regional {
  width: 120px;
}
.main-productos .productos .producto-regional:hover .imagen-producto-regional {
  transform: scale(1.3) translateY(-20%);
  transition: transform 0.5s ease;
}

.aceite-oliva .titulo-producto {
  text-shadow: -0.5px -0.5px 0 #bdac67, 0.5px -0.5px 0 #bdac67, -0.5px 0.5px 0 #bdac67, 0.5px 0.5px 0 #bdac67;
}

.imagen-aceite-oliva {
  filter: drop-shadow(8px 8px 4px #bdac67);
}

.aceite-uva .titulo-producto {
  text-shadow: -0.5px -0.5px 0 rgba(78, 98, 0, 0.6352941176), 0.5px -0.5px 0 rgba(78, 98, 0, 0.6352941176), -0.5px 0.5px 0 rgba(78, 98, 0, 0.6352941176), 0.5px 0.5px 0 rgba(78, 98, 0, 0.6352941176);
}

.imagen-aceite-uva {
  filter: drop-shadow(8px 8px 4px rgba(78, 98, 0, 0.6352941176));
}

.aceite-girasol .titulo-producto {
  text-shadow: -0.5px -0.5px 0 rgba(206, 201, 55, 0.6431372549), 0.5px -0.5px 0 rgba(206, 201, 55, 0.6431372549), -0.5px 0.5px 0 rgba(206, 201, 55, 0.6431372549), 0.5px 0.5px 0 rgba(206, 201, 55, 0.6431372549);
}

.imagen-aceite-girasol {
  filter: drop-shadow(8px 8px 4px rgba(206, 201, 55, 0.6431372549));
}

.producto-regional .titulo-producto {
  text-shadow: -0.5px -0.5px 0 #3A3A39, 0.5px -0.5px 0 #3A3A39, -0.5px 0.5px 0 #3A3A39, 0.5px 0.5px 0 #3A3A39;
}

.imagen-producto-regional {
  filter: drop-shadow(8px 8px 4px #3A3A39);
}

.main-envases {
  font-family: "Truculenta", sans-serif;
  font-weight: 500;
  background-color: #dfd9c9;
  color: #181B34;
  font-size: 1.2rem;
}
.main-envases h1,
.main-envases h2,
.main-envases h3,
.main-envases h4 {
  font-weight: 700;
}
.main-envases ol > li {
  list-style: decimal;
  font-size: 1.2rem;
}
.main-envases ul > li {
  list-style: disc;
}
.main-envases .maridajes .maridaje-oliva, .main-envases .maridajes .maridaje-uva, .main-envases .maridajes .maridaje-girasol {
  margin-left: 20px;
  text-align: left;
}
.main-envases .maridajes .maridaje-oliva h4, .main-envases .maridajes .maridaje-uva h4, .main-envases .maridajes .maridaje-girasol h4 {
  margin-left: 10px;
}
.main-envases .maridajes .carousel {
  width: 500px;
  margin: 0 auto;
}
@media (width <= 550px) {
  .main-envases .maridajes .carousel {
    width: 350px;
  }
}
.main-envases .maridajes .carousel .carousel-item .carousel-caption {
  font-size: 20px;
  line-height: 20px;
  color: #E3E0D5;
  text-shadow: -1px -1px 0 #3A3A39, 1px -1px 0 #3A3A39, -1px 1px 0 #3A3A39, 1px 1px 0 #3A3A39;
}
@media (width <= 550px) {
  .main-envases .maridajes .carousel .carousel-item .carousel-caption {
    font-size: 16px;
    line-height: 16px;
  }
}
.main-envases .envases .envase {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.main-envases .envases .img-envase {
  rotate: 90deg;
  width: 100px;
}

.main-contacto {
  font-family: "Truculenta", sans-serif;
  font-weight: 700;
  background-color: #dfd9c9;
  color: #181B34;
  grid-template-areas: "contactanos contactanos encontranos" "envios promociones encontranos" "mediosdepago promociones encontranos";
  grid-template-columns: 1fr 1fr 2fr;
  gap: 20px;
  min-width: 95%;
}
@media (width < 1020px) {
  .main-contacto {
    display: grid;
    grid-template-areas: "contactanos contactanos encontranos" "mediosdepago envios promociones ";
    padding: 0;
  }
}
@media (width <= 800px) {
  .main-contacto {
    display: grid;
    grid-template-areas: "contactanos contactanos" "encontranos encontranos" "envios mediosdepago" "promociones promociones";
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
  }
}
@media (width <= 550px) {
  .main-contacto {
    display: flex;
    flex-direction: column;
  }
}
.main-contacto h1,
.main-contacto h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}
@media (width < 1020px) {
  .main-contacto h1,
  .main-contacto h2 {
    font-size: 1.8rem;
  }
}
@media (width < 1020px) {
  .main-contacto h1,
  .main-contacto h2 {
    font-size: 1.6rem;
  }
}
.main-contacto .contactanos {
  grid-area: contactanos;
  font-size: 1rem;
}
.main-contacto .contactanos a {
  color: #181B34;
  gap: 10px;
  align-items: center;
}
.main-contacto .contactanos a:hover i {
  color: #911714;
}
.main-contacto .contactanos a p {
  margin: 0;
}
.main-contacto .contactanos .icono-contacto i {
  font-size: 1.3rem;
}
.main-contacto .contactanos form input,
.main-contacto .contactanos form textarea,
.main-contacto .contactanos form button {
  width: 100%;
  min-height: 30px;
  font-family: "Truculenta", sans-serif;
  font-size: 0.9rem;
  background: #D9D3C3;
  color: #181B34;
  border: 1px solid #181B34;
  border-radius: 5px;
  margin-top: 1px;
}
@media (width <= 550px) {
  .main-contacto .contactanos form input,
  .main-contacto .contactanos form textarea,
  .main-contacto .contactanos form button {
    min-height: 20px;
  }
}
.main-contacto .contactanos form button {
  width: auto;
  font-weight: bold;
  padding: 1px;
  color: #dfd9c9;
  background: #181B34;
}
.main-contacto .encontranos {
  grid-area: encontranos;
}
@media (width < 1200px) {
  .main-contacto .encontranos {
    text-wrap: stable;
  }
}
.main-contacto .encontranos a {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  color: #181B34;
  text-align: center;
  padding-bottom: 10px;
  font-size: 1rem;
}
@media (width < 1020px) {
  .main-contacto .encontranos a {
    padding-bottom: 1px;
  }
}
.main-contacto .encontranos a i {
  font-size: 1.3rem;
}
.main-contacto .encontranos a:hover .bi-geo-alt-fill {
  color: #911714;
  transition: transform 0.5s ease;
  transform: rotate(-25deg);
}
.main-contacto .encontranos img {
  width: 100%;
  border-radius: 15px;
}
@media (width < 1020px) {
  .main-contacto .encontranos img {
    width: 100%;
    border-radius: 15px;
  }
}
@media (width <= 800px) {
  .main-contacto .encontranos img {
    width: 80%;
  }
}
@media (width < 1020px) {
  .main-contacto .encontranos .mapa {
    display: none;
  }
}
.main-contacto .encontranos .mapa-cuadrado {
  display: none;
}
@media (width < 1020px) {
  .main-contacto .encontranos .mapa-cuadrado {
    display: block;
  }
}
.main-contacto .envios {
  grid-area: envios;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2px;
}
@media (width < 1020px) {
  .main-contacto .envios {
    font-size: 0.9rem;
  }
}
.main-contacto .envios .camion {
  text-align: start;
  position: relative;
  height: 24px;
  border-bottom: 0.15px solid var(-clr-azul);
}
.main-contacto .envios .camion i {
  font-size: 24px;
  width: 100%;
  position: absolute;
}
.main-contacto .envios .camion .bi-shop {
  font-size: 20px;
}
.main-contacto .envios .camion .bi-truck {
  transform: translateX(24px);
}
.main-contacto .envios .camion .bi-house {
  font-size: 22px;
  text-align: end;
}
.main-contacto .envios:hover .bi-truck {
  transform: translateX(calc(100% - 48px));
  transition: transform 5s ease;
}
.main-contacto .envios .envio-gratis {
  background: #181B34;
  color: #dfd9c9;
  font-weight: 400;
}
.main-contacto .medios-de-pago {
  grid-area: mediosdepago;
  font-size: 1rem;
}
@media (width < 1020px) {
  .main-contacto .medios-de-pago {
    font-size: 0.9rem;
  }
}
.main-contacto .medios-de-pago ul {
  padding-left: auto;
  margin-bottom: 2px;
}
@media (width < 1020px) {
  .main-contacto .medios-de-pago ul {
    padding-left: 1.5px;
  }
}
.main-contacto .medios-de-pago ul i {
  font-size: 1.3rem;
}
@media (width <= 768px) {
  .main-contacto .medios-de-pago ul i {
    padding-left: 48px;
  }
}
.main-contacto .promociones {
  grid-area: promociones;
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.main-contacto .promociones .carrusel {
  max-height: 430px;
  border-radius: 15px;
}
@media (width < 1020px) {
  .main-contacto .promociones .carrusel {
    max-height: 200px;
  }
}
.main-contacto .promociones .carrusel .img-promocion {
  display: block;
  margin: 0 auto;
  max-height: 430px;
  border-radius: 15px;
}
@media (width < 1020px) {
  .main-contacto .promociones .carrusel .img-promocion {
    display: none;
  }
}
.main-contacto .promociones .carrusel .img-promocion-horizontal {
  display: none;
}
@media (width < 1020px) {
  .main-contacto .promociones .carrusel .img-promocion-horizontal {
    display: block;
    margin: 0 auto;
    max-height: 200px;
    border-radius: 15px;
  }
}
.main-contacto .promociones .carousel-control-prev-icon,
.main-contacto .promociones .carousel-control-next-icon {
  background-color: #181B34;
  border-radius: 10px;
}

.footer {
  padding: 1.5vh 1vh 1vh 1vh;
  align-items: space-around;
  color: #181B34;
  background-color: #dfd9c9;
  border-top: 2.5px solid #181B34;
  font-family: "Truculenta", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}
@media (width <= 768px) {
  .footer {
    justify-items: center;
  }
}
.footer .footer-logo {
  order: 1;
  text-align: center;
  width: 100%;
}
.footer .footer-logo .footer-logo-img {
  width: 160px;
}
@media (width <= 700px) {
  .footer .footer-logo .footer-logo-img {
    width: 120px;
  }
}
.footer .informacion-1 {
  order: 2;
  margin-top: auto;
  text-align: center;
  width: 100%;
}
@media (width <= 768px) {
  .footer .informacion-1 {
    justify-items: center;
  }
}
@media (width <= 700px) {
  .footer .informacion-1 {
    width: 100%;
    text-align: center;
    justify-items: center;
    font-size: 0.8rem;
  }
}
.footer .informacion-1 .icono-footer {
  color: #181B34;
  font-size: 1.8rem;
  font-weight: 900;
}
@media (width <= 800px) {
  .footer .informacion-1 .icono-footer {
    font-size: 1.5rem;
  }
}
.footer .informacion-1 .icono-footer .bi-telephone {
  font-weight: 900;
}
.footer .informacion-1 .icono-footer .bi-envelope-at {
  font-size: 2rem;
  font-weight: 900;
}
@media (width <= 800px) {
  .footer .informacion-1 .icono-footer .bi-envelope-at {
    font-size: 1.7rem;
  }
}
.footer .informacion-2 {
  align-content: space-around;
  color: #911714;
  font-weight: 700;
  text-shadow: -0.15px -0.15px 0 #bdac67, 0.15px -0.15px 0 #bdac67, -0.15px 0.15px 0 #bdac67, 0.15px 0.15px 0 #bdac67;
  margin-top: auto;
  padding-bottom: 1vh;
  order: 3;
  text-align: left;
}
@media (width <= 700px) {
  .footer .informacion-2 {
    width: 100%;
    text-align: center;
    justify-items: center;
    font-size: 0.8rem;
    order: 4;
  }
}
.footer .informacion-3 {
  align-content: space-around;
  color: #911714;
  font-weight: 700;
  text-shadow: -0.15px -0.15px 0 #bdac67, 0.15px -0.15px 0 #bdac67, -0.15px 0.15px 0 #bdac67, 0.15px 0.15px 0 #bdac67;
  margin-top: auto;
  padding-bottom: 1vh;
  order: 4;
  text-align: right;
}
@media (width <= 700px) {
  .footer .informacion-3 {
    width: 100%;
    text-align: center;
    justify-items: center;
    font-size: 0.8rem;
    order: 3;
    padding-bottom: 0.5vh;
  }
}
.footer .informacion-3 a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
  color: #911714;
}
.footer .informacion-3 a:hover {
  color: #181B34;
}
.footer .informacion-3 a:hover .bi-geo-alt-fill {
  /*No funciona*/
  transition: transform 0.5s ease;
  transform: rotate(-25deg);
}
@media (width <= 800px) {
  .footer .informacion-2,
  .footer .informacion-3 {
    font-size: 0.9rem;
    font-weight: 600;
  }
}
.footer a i:hover {
  color: #911714;
}
.footer .footer-copyright {
  order: 5;
  width: 100%;
  text-align: center;
  border-top: 1.5px solid #181B34;
  padding-top: 1vh;
}
@media (width <= 800px) {
  .footer .footer-copyright {
    font-size: 0.9rem;
  }
}
.footer .footer-copyright a {
  color: #181B34;
}
.footer .footer-copyright i {
  font-size: 1.1rem;
}
@media (width <= 800px) {
  .footer .footer-copyright i {
    font-size: 1rem;
  }
}/*# sourceMappingURL=estilo.css.map */