@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400&family=Truculenta:opsz,wght@12..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://db.onlinewebfonts.com/c/ad4c3cd73550e13c224f699237ab4c5c?family=Become+Choice');
/* @font-face {
  font-family: "Become Choice";
  src: url("https://db.onlinewebfonts.com/t/ad4c3cd73550e13c224f699237ab4c5c.eot");
  src: url("https://db.onlinewebfonts.com/t/ad4c3cd73550e13c224f699237ab4c5c.eot?#iefix")format("embedded-opentype"),
      url("https://db.onlinewebfonts.com/t/ad4c3cd73550e13c224f699237ab4c5c.woff2")format("woff2"),
      url("https://db.onlinewebfonts.com/t/ad4c3cd73550e13c224f699237ab4c5c.woff")format("woff"),
      url("https://db.onlinewebfonts.com/t/ad4c3cd73550e13c224f699237ab4c5c.ttf")format("truetype"),
      url("https://db.onlinewebfonts.com/t/ad4c3cd73550e13c224f699237ab4c5c.svg#Become Choice")format("svg");
} */


*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

/* *body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
} */
a {
  text-decoration: none;
  /*Agregado porque Bootstrap subraya a todos los a*/
}

:root {
  /*Para crear variables de CSS*/
  --clr-principal: #DED9C9;
  --clr-secundario: #D9D3C3;
  --clr-crema: #E3E0D5;
  --clr-oliva: #C6B866;
  --clr-oliva-claro: #D6C476;
  --clr-rojo: #911714;
  --clr-rojo-claro: #9C332F;
  --clr-verde-agua: #1DBFAF;
  --clr-verde-agua-claro: #49C7BA;
  --clr-verde-agua-oscuro: #199E8E;
  --clr-azul: #181B34;
  --clr-gris: #3A3A39;
}

body {
  background: var(--clr-principal);
}
/*Funciona para varios navegadores menos firefox*/
body::-webkit-scrollbar {
  width: 4px;     /* Tamaño del scroll en vertical */
  height: 4px;    /* Tamaño del scroll en horizontal */
 /* display: none; /* Ocultar scroll */
}
body::-webkit-scrollbar-thumb {
  background: var(--clr-azul);
  border-radius: 4px;
}
body::-webkit-scrollbar-thumb:hover {
  background: var(--clr-oliva);
}
body::-webkit-scrollbar-track {
  background: var(--clr-principal);
}
/* h1{
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
}
h1::before{
  content: "before";
  background: var(--clr-azul);
  color: var(--clr-principal);
  width: 100%;
  height: 100%;
  justify-content: center;
  position: absolute;
  right: calc(100% + 1rem);
}
h1::after{
  content: "a";
  background: var(--clr-azul);
  color: var(--clr-principal);
  width: 100%;
  height: 100%;
  position: absolute;
  left: calc(100% + 1rem);
} */

/*-Index-------------------------------------------------------*/
.body-inicio {
  height: 100vh;
  font-family: "Truculenta", sans-serif;
  background: var(--clr-principal);
  background-image: url("../img/tanques.png");
  background-size: contain;
  /*contain: encuentra tamaño mas chico / cover: encuentra tamaño mas grande*/
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 1.5rem 1rem 0.5rem 1rem;
  /*background-attachment: fixed; //fixed:imagen fija cuando scrolleamos*/
}

.inicio-logo {
  width: 16rem;
}

.menu-inicio {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  margin: 0;
}

.menu-inicio li {
  padding: 0.75rem;
}

.menu-inicio li a {
  color: var(--clr-azul);
  list-style: none;
  line-height: 2.3rem;
  text-decoration: none;
  text-shadow:
    -0.05rem -0.05rem 0 var(--clr-principal),
    0.05rem -0.05rem 0 var(--clr-principal),
    -0.05rem 0.05rem 0 var(--clr-principal),
    0.05rem 0.05rem 0 var(--clr-principal);
}

.menu-inicio li a:hover {
  font-family: "Become Choice";
  font-style: italic;
  font-size: 2.3rem;
  font-weight: 900;
}

.informacion,
.informacion p,
.informacion a {
  color: var(--clr-rojo);
  list-style: none;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow:
    -0.05rem -0.05rem 0 var(--clr-oliva),
    0.05rem -0.05rem 0 var(--clr-oliva),
    -0.05rem 0.05rem 0 var(--clr-oliva),
    0.05rem 0.05rem 0 var(--clr-oliva);
  margin: 0;
}

.ubicacion {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 0.5rem;
}

.ubicacion p:hover {
  color: var(--clr-azul);
}

.ubicacion:hover .bi-geo-alt-fill {
  color: var(--clr-azul);
  transition: transform 0.5s ease;
  transform: rotate(-25deg);
}

/*-Header------------------------------------------------------*/

.header {
  border-bottom: 0.15rem solid var(--clr-azul);
  background: var(--clr-principal);
}

.navbar {
  font-size: 1.5rem;
  font-family: "Truculenta", sans-serif;
  padding: 0;
  min-width: 95%;
}

.img-logo {
  width: 7rem;
}

.boton-navbar {
  border: solid var(--clr-azul);
}

.boton-navbar:focus {
  outline: none;
  box-shadow: none;
}

.boton-navbar .navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(24, 27, 52, 1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22" /%3E%3C/svg%3E');
}
.collapse{
  max-width: 550px;
}
.menu {
  width: 100%;
  justify-content: space-between;
  margin: 0 0 2px 0;
}

.menu li {
  text-align: center;
  min-width: 120px;
}

.menu .li-sobrenosotros {
  min-width: 150px;
}

.menu li a {
  color: var(--clr-azul);
  font-weight: bold;
  line-height: 1.9rem;
}

.menu-opcion a:hover {
  color: var(--clr-azul);
  font-family: "Become Choice";
  font-style: italic;
  font-size: 1.8rem;
  font-weight: 900;
}

.menu .active {
  color: var(--clr-rojo) !important;
  background: var(--clr-verde-agua);
  font-family: "Fredoka";
  font-size: 1.2rem;
  font-weight: 600;
  /* text-align: center; */
  text-transform: uppercase;
  text-align: center;
  text-shadow:
    -0.05rem -0.05rem 0 var(--clr-oliva),
    0.05rem -0.05rem 0 var(--clr-oliva),
    -0.05rem 0.05rem 0 var(--clr-oliva),
    0.05rem 0.05rem 0 var(--clr-oliva),
    0.1rem 0.1rem 0 var(--clr-azul);
  border: 0.2rem solid var(--clr-verde-agua-oscuro);
  border-radius: 12.5px;
}

.menu .active:hover {
  color: var(--clr-rojo);
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
}

/*-Footer-----------------------------------------------------*/
.footer {
  padding: 1.5vh 1vh 1vh 1vh;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between;*/
  align-items: space-around;
  color: var(--clr-azul);
  background-color: var(--clr-principal);
  border-top: 0.15rem solid var(--clr-azul);
  font-family: "Truculenta", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.footer-logo {
  order: 1;
  text-align: center;
  width: 100%;
}

.footer-logo-img {
  width: 10rem;
}

.informacion1 {
  order: 2;
  margin-top: auto;
  text-align: center;
  width: 100%;
}

.informacion2,
.informacion3,
.informacion3 a {
  align-content: space-around;
  color: var(--clr-rojo);
  font-weight: 700;
  text-shadow:
    -0.01rem -0.01rem 0 var(--clr-oliva),
    0.01rem -0.01rem 0 var(--clr-oliva),
    -0.01rem 0.01rem 0 var(--clr-oliva),
    0.01rem 0.01rem 0 var(--clr-oliva);
  margin-top: auto;
  padding-bottom: 1vh;
}

.informacion2 {
  order: 3;
  text-align: left;
}

.informacion3,
.informacion3 a {
  order: 4;
  text-align: right;
}

.informacion3 a:hover {
  color: var(-clr-azul);
}

.informacion3 a:hover .bi-geo-alt-fill {
  /*No funciona*/
  /*order: 2; Para que pase el icono con una animacion a la derecha de la ubicacion*/
  transition: transform 0.5s ease;
  transform: rotate(-25deg);
}

.icono-footer {
  color: var(--clr-azul);
  font-size: 1.8rem;
  font-weight: 900;
}

.icono-footer .bi-telephone {
  font-weight: 900;
}

.icono-footer .bi-envelope-at {
  font-size: 2rem;
  font-weight: 900;
}

a i:hover {
  color: var(--clr-rojo);
}

.footer-copyright {
  order: 5;
  width: 100%;
  text-align: center;
  border-top: 0.10rem solid var(--clr-azul);
  padding-top: 1vh;
}

.footer-copyright a {
  color: var(--clr-azul);
}

.footer-copyright i {
  font-size: 1.1rem;
}


/*-Sobre-Nosotros----------------------------------------------*/
.main-sobre-nosotros {
  font-family: "Truculenta", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--clr-azul);
  background: var(--clr-principal);
}

.contenedor__sn {
  height: 70vh;
  align-content: center;
}

.consumasalud {
  font-family: "Become Choice";
  font-size: 4rem;
  text-shadow:
    -0.05rem -0.05rem 0 var(--clr-principal),
    0.05rem -0.05rem 0 var(--clr-principal),
    -0.05rem 0.05rem 0 var(--clr-principal),
    0.05rem 0.05rem 0 var(--clr-principal);
  background-image: url("../img/bgsn3.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.consumasalud h2 {
  font-size: 6rem;
  font-weight: 700;
}

.consumasalud p {
  font-size: 6rem;
  font-weight: 300;
  transform: rotate(10deg);
}

.consumasalud .p-invertido {
  transform: rotate(190deg);
}

.parrafo1,
.parrafo2,
.parrafo3 {
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem;
  background-image: url("../img/bgsn.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img1 {
  background-image: url("../img/sirviendo1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img2 {
  background-image: url("../img/sirviendo2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img3 {
  background-image: url("../img/hardanylautaro4.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img4 {
  background-image: url("../img/distincionsenadores.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

/*-Productos-----------------------------------------------------------------------------------*/
.main-productos {
  font-family: "Truculenta", sans-serif;
  background-color: var(--clr-principal);
  padding: 1rem;
}

.productos {
  display: flex;
  flex-wrap: wrap;
}

.producto {
  flex: 1;
  background: var(--clr-secundario);
  border: 0.15rem solid var(--clr-azul);
  border-radius: 15px;
  padding: 10px;
  margin: 0.5rem;
  min-width: 20rem;
  text-align: center;
}

.imagen-producto {
  max-width: 100%;
  max-height: 15rem;
}

.producto h2 {
  text-shadow:
    -0.5px -0.5px 0 var(--clr-oliva),
    0.5px -0.5px 0 var(--clr-oliva),
    -0.5px 0.5px 0 var(--clr-oliva),
    0.5px 0.5px 0 var(--clr-oliva);
}

.producto h3 {
  color: var(--clr-rojo);
  /*Si funciona*/
}

.aceites {
  display: flex;
  flex-wrap: wrap;

}

.aceite-de-oliva,
.aceite-de-uva,
.aceite-de-girasol {
  display: block;
}

.titulo-producto {
  font-size: 2rem;
}

.subtitulo-producto {
  font-size: 1.2rem;
}

.propiedad-producto {}

.hide {
  display: none;
}


.producto.aceite:hover .hide {
  display: block;
}

/*-Envases-------------------------------------------------------------------------------------*/
.main-envases {
  font-family: "Truculenta", sans-serif;
  background-color: var(--clr-principal);
}

.main-envases div {
  display: flex;
}

.img-envase {
  width: 200px;
}

/*-Contacto---------------------------------------------------*/
.main-contacto {
  font-family: "Truculenta", sans-serif;
  background-color: var(--clr-principal);
  color: var(--clr-azul);
  grid-template-areas: "contactanos contactanos encontranos"
    "envios promociones encontranos"
    "mediosdepago promociones encontranos";
  grid-template-columns: 1fr 1fr 2fr;
  gap: 20px;
  min-width: 95%;
}

.main-contacto h1,
.main-contacto h2 {
  text-align: center;
  font-size: 2rem;
}

.contactanos {
  grid-area: contactanos;
  font-size: 1rem;
}

.contactanos a {
  color: var(--clr-azul);
  font-weight: 600;
  gap: 10px;
  align-items: center;
}

.icono-contacto i {
  font-size: 1.3rem;
}

form input,
form textarea,
form button {
  width: 100%;
  font-family: "Truculenta", sans-serif;
  font-size: 0.9rem;
  background: var(--clr-secundario);
  color: var(--clr-azul);
  border: 1px solid var(--clr-azul);
  border-radius: 5px;
  margin-top: 1px;
}

form button {
  width: auto;
  font-weight: bold;
  padding: 1px;
  color: var(--clr-principal);
  background: var(--clr-azul);
}

.encontranos {
  grid-area: encontranos;
}

.encontranos a {
  color: var(--clr-azul);
  text-align: center;
  padding-bottom: 10px;
  font-size: 1rem;
  font-weight: 600;
}

.encontranos a i {
  font-size: 1.3rem;
}

.encontranos img {
  width: 100%;
  border-radius: 15px;
}

.encontranos .mapa2 {
  display: none;
}

.envios {
  grid-area: envios;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2px;
}

.camion {
  text-align: start;
  position: relative;
  height: 1.5rem;
  border-bottom: 0.01rem solid var(-clr-azul);
}

.camion i {
  font-size: 1.5rem;
  width: 100%;
  position: absolute;
}

.camion .bi-shop {
  font-size: 1.3rem;
}

.camion .bi-truck {
  transform: translateX(1.5rem);
}

.camion .bi-house {
  font-size: 1.35rem;
  text-align: end;
}

.envios:hover .bi-truck {
  transform: translateX(calc(100% - 3rem));
  transition: transform 5s ease;
}

.envio-gratis {
  background: var(--clr-verde-agua);

}

.medios-de-pago {
  grid-area: mediosdepago;
  font-size: 1rem;
  /* gap: auto; */
}

.medios-de-pago ul {
  padding-left: auto;
  margin-bottom: 2px;
}

.medios-de-pago i {
  font-size: 1.3rem;
}

.promociones {
  grid-area: promociones;
  margin-bottom: 2px;
}

.img-promocion {
  width: 100%;
  border-radius: 15px;
}

.img-promocion-horizontal {
  display: none;
}

@media (width < 1200px) {

  /*-Sobre-Nosotros-------------------------------------------*/

  .contenedor__sn {
    height: 60vh;
  }

  /*-Contacto-------------------------------------------------*/
  .encontranos p {
    text-wrap: stable;
  }

  /*.main-inicio {
    display: flex;
    background: none;
    background-color: var(--clr-principal);
  }
  .inicio {
    width: 100%;
    display: flex;
  }
  .contenedor-logo {
    width: 100%;
    background-image: url("./../img/tanques.png");
    background-size: contain;
    background-repeat: no-repeat;
     background-position: bottom right;
  }
  .informacion{
    color:var(--clr-rojo);
    font-size: 1.5rem;
    text-align: center;
    text-shadow:
          -0.5px -0.5px 0 var(--clr-oliva),  
          0.5px -0.5px 0 var(--clr-oliva),
          -0.5px 0.5px 0 var(--clr-oliva),
          0.5px 0.5px 0 var(--clr-oliva); 
  }
  .inicio-logo{
    width: 16rem;
  }
  .menu-inicio {
    font-size: 2rem;
    font-weight: bold;
    padding: 20px;
  }
  .menu-inicio li {
    padding: 20px;
  }
  .menu-inicio li a {
    color: var(--clr-azul);
    background-color: var(--clr-principal) 15%;
    border-radius: 10px;
  }
  /*.menu-inicio li a:hover {
    background: #c6b76683;
    padding: 0.25rem;
    border: 0.25rem solid var(--clr-azul);
    border-radius: 15px;
  }
  .menu-inicio li:hover {
    background: var(--clr-secundario);
  }*/
}

@media (width < 1020px) {

  /*-Sobre-Nosotros-------------------------------------------*/
  .consumasalud h2,
  .consumasalud p {
    font-size: 5rem;
    font-weight: 400;
  }

  /*-Contacto-------------------------------------------------*/
  .main-contacto {
    display: grid;
    grid-template-areas: "contactanos contactanos encontranos"
      "mediosdepago envios promociones ";
  }

  .main-contacto h1,
  .main-contacto h2 {
    font-size: 1.8rem;
  }

  .encontranos a {
    padding-bottom: 1px;
  }

  .encontranos img {
    width: 100%;
    border-radius: 15px;
  }

  .encontranos .mapa1 {
    display: none;
  }

  .encontranos .mapa2 {
    display: block;
  }

  .envios p {
    font-size: 0.9rem;
  }

  .medios-de-pago {
    font-size: 0.9rem;
    padding: 0;
  }

  .medios-de-pago ul {
    padding-left: 0.1rem;
  }

  .promociones {
    grid-area: promociones;
  }

  .img-promocion {
    display: none;
  }

  .img-promocion-horizontal {
    display: block;
    width: 100%;
    border-radius: 15px;
  }
}

@media (width <=800px) {

  /*-Sobre-Nosotros-------------------------------------------*/
  .consumasalud h2,
  .consumasalud p {
    font-size: 4.5rem;
    font-weight: 400;
  }

  /*-Footer----------------------------------------------------*/
  .informacion2,
  .informacion3 {
    font-size: 0.9rem;
    font-weight: 600;
  }

  .icono-footer {
    font-size: 1.5rem;
  }

  .icono-footer .bi-envelope-at {
    font-size: 1.7rem;
  }

  .footer-copyright {
    font-size: 0.9rem;
  }

  .footer-copyright i {
    font-size: 1rem;
  }

  /*-Contacto--------------------------------------------------*/
  .main-contacto {
    display: grid;
    grid-template-areas: "contactanos contactanos"
      "encontranos encontranos"
      "envios mediosdepago"
      "promociones promociones";
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
  }

  .main-contacto h1,
  .main-contacto h2 {
    font-size: 1.6rem;
  }

  .contactanos {
    /* font-size: 1rem; */
  }

  .icono-contacto i {
    /* font-size: 1.3rem; */
  }

  .encontranos a {
    /* font-size: 1rem; */
  }

  .encontranos a i {
    /* font-size: 1.3rem; */
  }

  .encontranos img {
    width: 60%;
    transform: translate(40%, 0);
    /*Me sirve para centrar, pero no se si es correcto*/
  }
}

@media (width <=768px) {

  /*-Header------------------------------------------------------*/

  .collapse{
    max-width: none;
  }
  .menu li a {
    text-align: start;
    margin-left: 1rem;
  }
  .menu .active {
    width: 125px;
    margin-left: 0;
    padding: auto 0;
  }
  .menu .li-sobrenosotros .active {
    width: 175px;
  }
  /*-Sobre-Nosotros----------------------------------------------*/
  .main-sobre-nosotros {
    font-size: 1.2rem;
  }

  .parrafo1,
  .parrafo2,
  .parrafo3 {
    /* font-size: 1.2rem;
    padding: 1rem; */
  }

  .contenedor__sn {
    height: 50vh;
  }

  .consumasalud {
    order: 1;
  }

  .parrafo1 {
    order: 3;
  }

  .parrafo2 {
    order: 5;
  }

  .parrafo3 {
    order: 7;
  }

  .img1 {
    order: 2;
  }

  .img2 {
    order: 4;
  }

  .img3 {
    order: 6;
  }

  .img4 {
    order: 8;
  }
}

@media (width <=700px) {

  /*-Index-------------------------------------------------------*/
  /* .inicio-logo {
    width: 12rem;
  } */

  /*-Footer-----------------------------------------------------*/
  .footer {
    justify-items: center;
  }

  .informacion1,
  .informacion2,
  .informacion3,
  .informacion3 a {
    width: 100%;
    text-align: center;
    justify-items: center;
    font-size: 0.8rem;
  }

  .informacion2 {
    order: 4;
  }

  .informacion3 {
    order: 3;
    padding-bottom: 0.5vh;
  }

  .footer-logo-img {
    width: 7.5rem;
  }

}

@media (width <=550px) {

  /*-Index-----------------------------------------------------*/
  .informacion,
  .informacion p,
  .informacion a {
    font-size: 0.9rem;
  }


  /*-Sobre-Nosotros--------------------------------------------*/
  /* .consumasalud {
    font-size: 3rem;
  }

  .consumasalud p {
    font-size: 5rem;
  } */

  /*-Contacto--------------------------------------------------*/
  .main-contacto {
    display: flex;
    flex-direction: column;
  }

}